<h1>タスク確認</h1>

<p>以下の内容でタスクを登録しますか？</p>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.hidden_field :theme %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :priority %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :time_limit %>
  <ul>
    <li>タスク名:<%= @task.theme %></li>
    <li>タスク内容:<%= @task.content %></li>
    <li>優先順位:<%= priority_labels.key(@task.priority) %></li>
    <li>ステータス:<%= status_labels.key(@task.status) %></li>
    <li>期限:<%= @task.time_limit %></li>
  </ul>
  <%= f.submit %>
  <%= f.submit "back", name: "back" %>
<% end %>
