<h1><%= t('view.confirm_title') %></h1>

<p><%= t('view.confirm_text') %></p>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.hidden_field :theme %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :priority %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :time_limit %>

  <table class="table table-task-show">
    <tr>
      <th><%= t('view.theme') %></th>
      <td><%= @task.theme %></td>
    </tr>
    <tr>
      <th><%= t('view.content') %></th>
      <td><%= @task.content %></td>
    </tr>
    <tr>
      <th><%= t('view.priority') %></th>
      <td><%= priority_labels.key(@task.priority) %></td>
    </tr>
    <tr>
      <th><%= t('view.status') %></th>
      <td><%= status_labels.key(@task.status) %></td>
    </tr>
    <tr>
      <th><%= t('view.time_limit') %></th>
      <td><%= @task.time_limit %></td>
    </tr>
  </table>

  <%= f.submit "Post", class: "btn btn-primary" %>
  <%= f.submit "back", name: "back", class: "btn btn-info" %>
<% end %>
