<h1><%= t('view.confirm_title') %></h1>

<p><%= t('view.confirm_text') %></p>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.hidden_field :theme %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :priority %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :time_limit %>
  <ul>
    <li><%= t('view.theme') %>:<%= @task.theme %></li>
    <li><%= t('view.content') %>:<%= @task.content %></li>
    <li><%= t('view.priority') %>:<%= t("view.#{@task.priority}") %></li>
    <li><%= t('view.status') %>:<%= t("view.#{@task.status}") %></li>
    <li><%= t('view.time_limit') %>:<%= @task.time_limit %></li>
  </ul>
  <%= f.submit %>
  <%= f.submit "back", name: "back" %>
<% end %>
