<h3><%= t('view.index_title') %></h3>
<div class="links">
  <%= link_to t('view.post_task'), new_task_path, class:"btn btn-primary" %>
  <%= link_to t('view.sort_time_limit'), tasks_path(sort_expired: "true"), class:'btn btn-info btn-links' %>
  <%= link_to t('view.sort_priority'), tasks_path(sort_priority: "true"), class:'btn btn-info btn-links' %>
</div>

<%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
  <div class="form-group search-fields">
    <%= f.label :"概要検索" %>
    <%= f.text_field :theme, class: "search-form", id: "theme_search" %>
    <%= f.label :"ステータス検索" %>
    <%= f.select :status, selection_from_enum(Task, :status), include_blank: :true, id: "search_status"  %>
    <%= f.label :"ラベル検索" %>
    <%= f.select :label_ids, Label.all.collect { |l| [l.label, l.id] }, include_blank: :true %>
    <%= f.hidden_field :search, value: "true" %>
    <%= f.submit t('view.search_task'), name: nil, id: "exec_search", class: "btn-primary btn-search" %>
  </div>
<% end %>

<div><%= link_to "ラベル一覧", labels_path, class: "btn btn-primary" %></div>

<div class="pagination"><%= paginate @tasks %></div>

<table class="table table-striped task-table">
  <thead>
    <tr>
      <th><%= t('view.theme') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.priority') %></th>
      <th><%= t('view.status') %></th>
      <th><%= t('view.time_limit') %></th>
      <th><%= t('view.post_time') %></th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="task_row" ><%= task.theme %></td>
      <td><%= task.content %></td>
      <td class="priority_row"><%= t("view.#{task.priority}") %></td>
      <td class="status_row"><%= t("view.#{task.status}") %></td>
      <td><%= task.time_limit %></td>
      <td><%= task.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to t('view.show'), task_path(task.id), class: "btn btn-info" %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id), class: "btn btn-info" %></td>
      <td><%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: t('view.confirm') }, class: "btn btn-danger" %></td>
      <td>
      <% task.labels.each do |label| %>
       <%= label.label %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
<table>
