<h1><%= t('view.index_title') %></h1>
<%= link_to "タスク登録", new_task_path %>

<table>
  <thead>
    <tr>
      <th><%= t('view.theme') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.priority') %></th>
      <th><%= t('view.status') %></th>
      <th><%= t('view.time_limit') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.theme %></td>
      <td><%= task.content %></td>
      <td><%= priority_labels.key(task.priority) %></td>
      <td><%= status_labels.key(task.status) %></td>
      <td><%= p task.time_limit %></td>
      <td><%= link_to "詳細", task_path(task.id) %></td>
      <td><%= link_to "編集", edit_task_path(task.id) %></td>
      <td><%= link_to "削除", task_path(task.id), method: :delete, data: { confirm: "本当に削除しますか" } %></td>
    </tr>
    <% end %>
  </tbody>
<table>
