<div class="container">

  <h3 class="show-title"><strong><%= t('view.show_title') %></h3>

  <table class="table table-task-show">
    <tr>
      <th><%= t('view.theme') %></th>
      <td><%= @task.theme %></td>
    </tr>
    <tr>
      <th><%= t('view.content') %></th>
      <td><%= @task.content %></td>
    </tr>
    <tr>
      <th><%= t('view.priority') %></th>
      <td><%= t("view.#{@task.priority}") %></td>
    </tr>
    <tr>
      <th><%= t('view.status') %></th>
      <td><%= t("view.#{@task.status}") %></td>
    </tr>
    <tr>
      <th><%= t('view.time_limit') %></th>
      <td><%= @task.time_limit %></td>
    </tr>
    <tr>
      <th>ラベル</th>
      <td>
        <% @task.labels.each do |label| %>
         <%= label.label %>
        <% end %>
      </td>
    </tr>
  </table>
  <p><%= link_to "#{@task.image.filename}", url_for(@task.image), class: "btn btn-info" if @task.image.attached? %></p>

  <%= link_to t('view.edit'), edit_task_path(@task.id), class: "btn btn-primary" %>
  <%= link_to t('view.index'), tasks_path, class: "btn btn-info" %>
</div>
