<h1><%= t('view.show_title') %></h1>


<p><%= t('view.theme') %>:<%= @task.theme %></p>
<p><%= t('view.content') %>:<%= @task.content %></p>
<p><%= t('view.priority') %>:<%= priority_labels.key(@task.priority) %></p>
<p><%= t('view.status') %>:<%= status_labels.key(@task.status) %></p>
<p><%= t('view.time_limit') %>:<%= @task.time_limit %></p>
<%= link_to "edit", edit_task_path(@task.id) %>|
<%= link_to "一覧", tasks_path %>
