<table class="table table-striped">
  <% if @user.avatar.attached? %>
  <tr>
    <th colspan="2">
      <%= image_tag @user.avatar.variant(resize:'100x100').processed %>
    </th>
  </tr>
  <% end %>
  <tr>
    <th><%= t('view.name') %></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>プロフィール</th>
    <td><%= safe_join(@user.profile.split(%Q(\n)),tag(:br)) if @user.profile.present? %></td>
  </tr>
</table>

<% if @near_limit.present? %>
<h3>次のタスクの終了期限が近づいています！</h3>
<ul>
  <% @near_limit.each do |limit| %>
    <li>タスク:<%= limit.theme %> 終了期限:<%= limit.time_limit %></li>
  <% end %>
</ul>
<% end %>

<% if @time_over.present? %>
<h3>次のタスクの終了期限が近づいています！</h3>
<ul>
  <% @time_over.each do |over| %>
    <li>タスク:<%= over.theme %> 終了期限:<%= over.time_limit %></li>
  <% end %>
</ul>
<% end %>


<% if @user.id == current_user.try(:id) %>
  <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-info" %>
<% end %>

<%= link_to t('view.user_to_index'), tasks_path(@user.id), class: "btn btn-info" %>
