<!DOCTYPE html>
<html>
  <head>
    <title>Taskmanager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header class="page-header">
        <h1><%= t('view.header') %></h1>
      </header>
      <% flash.each do |task_type, task| %>
        <div class="alert alert-<%= task_type %>"><%= task %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
